/* MENU BASE */
*{
        padding: 0;

}
#menu {
    background: var(--menu-bg);
    border-right: 1px solid var(--menu-borda);
    position: fixed;
    z-index: 999;
    width: 100%;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    padding: 15px;
    text-align: left;
    margin-left: 0;
    margin: auto;
    width: 200px;

}

#menu img{
    max-width: 120px;
}
#menu a,
#menu button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: var(--cor-texto);
    text-decoration: none;
    transition: 0.2s ease;
    border-radius: 12px;
    width: 100%;
}

#menu a:hover,
#menu button:hover {
    background: var(--menu-item-hover);

}

.icon{
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(0); /* deixa branco */
    padding: 10px;
    

}

/* DESKTOP */
@media (min-width: 900px) {
    #menu {
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        padding-top: 20px;
    }

    main, header, footer {
        margin-left: 250px;
    }
}

/* MOBILE */
@media (max-width: 899px) {
    #menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--menu-borda);

    }


    #menu ul {
        display: flex;
        justify-content: space-around;
        max-width: 100vw;
    }

    main {
        margin-top: 70px;
    }

    #menu li span {
        display: none;
    }
    #menu img {
    width: 100%;
    }
    #menu a:hover
    #menu button:hover {
        background: none;
    }
}
