/*Mobile*/

@media screen and (max-width: 1350px){
    main{
        margin-top: 0 !important;
        padding-top: 0;
    }

    #nameRoadmap{
        max-width: 100%;
        font-size: 18px !important;
        margin-bottom: 0;
    }
    .nomeRoadmap p{
        margin-top: 80px;

    }
    .nomeRoadmap input{
        max-width: 320px;

    }
    main{
        margin-left: 0px;
    }
    #menuLateral{
        display: none;
    }
    .tarefaContainer{
        columns: 1 !important;
        
    }

    footer{
        position: relative !important;
    }
}
