/*Mobile*/

@media screen and (max-width: 1350px){
    #nameRoadmap{
        max-width: 100%;
        font-size: 20px !important;
    }
    .nomeRoadmap p{
        margin-top: 100px;

    }
    .nomeRoadmap input{
        max-width: 320px;

    }
    main{
        margin-left: 0px;
    }
    #menuLateral{
        display: none;
    }
    .tarefaContainer{
        columns: 1 !important;
        
    }

    footer{
        position: relative !important;
    }
}
