/* Fundo escuro */
.popupResetOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: fadeIn .20s ease;
}

/* Caixa central do POP UP */
.popupResetBox {
    background: #ffffff;
    padding: 30px;
    width: 340px;
    border-radius: 12px;
    text-align: center;

    box-shadow: 0 0 25px rgba(0,0,0,.25);

    animation: scaleIn .25s ease;
}

/* Título */
.popupResetBox h2 {
    color: var(--cor0);
    margin-bottom: 10px;
    font-size: 22px;
}

/* Botões */
.popupResetBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.popupResetBtns button {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* Botão cancelar */
.btnCancelarReset {
    background: #bdbdbd;
    color: #333;
}
.btnCancelarReset:hover {
    background: #9d9d9d;
}

/* Botão confirmar */
.btnConfirmarReset {
    background: #ff4747;
    color: white;
}
.btnConfirmarReset:hover {
    background: #d63a3a;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; } 
    to   { opacity: 1; }
}

@keyframes scaleIn {
    from { transform: scale(.8); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}
